body{
    margin: 0px;
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Monstsarrat/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Monstsarrat/Montserrat-ExtraLight.ttf);
    font-weight: 100;
    font-style: normal;
}

.Nav-bar{
    size: 15px;
    margin: 10px;
    padding-top: 3px;

}
.Nav-bar-UL{
    margin-left: 350px;
    padding-left: 400px;
    

}
li{
    display: inline;
    margin-right: 40px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    color: black;
}
.logo{
   position: absolute;
   left: 150px;
   top: 25px;
}
.Nav-link{
    color: blue !important;
    font-weight: 900;
    font-size: 15px;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 2px;
    border-bottom:transparent;
}
.Nav-link:hover{
    border-bottom-style: solid;
    border-bottom-color: blue;
    border-bottom-width: 2px;
}
.banner-One{
    width: 55%;
    float: left;
    height: 90vh;
}
.banner-Two{
    width: 45%;
    float: Right;
    height: 90vh;
}
.Words{
   padding-top: 160px;
   padding-left: 170px;
}
h2{
    font-family: Montserrat;
    font-size: 45px;
    font-weight: 900;
    color: rgb(51, 48, 48);
    margin-bottom: 10px;  
}
h4{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    color: rgb(49, 47, 47);
    margin-bottom: 15px;    
}

button{
    color: blue;
    border-radius: 3px;
    border-width: 1px;
    height: 32px;
    border-color: rgb(99, 99, 221);
    width: 110px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 600;   
    background-color: white;
}